node_modules/*
dist/*
docs/*
src/app/*
src/plugin*/*
src/wsproxy*/*
src/plastics/*
src/types/*
src/lib/*
src/lib/backend.ai-client-ingen.js
src/lib/backend.ai-client-ingen-es6.js
src/lib/backend.ai-client-node.js
src/lib/backend.ai-client-node.ts
src/lib/backend.ai-client-node-to-es6.js
src/lib/backend.ai-client-node-test-native-es6.js
src/lib/Chart.min.js
src/lib/json_to_csv.js
