[general]
#apiEndpoint = ""
#apiEndpointText = ""
#defaultSessionEnvironment = ""
siteDescription = "TEST"
connectionMode = "SESSION" #connectionMode = API

[wsproxy]
proxyURL = "https://wsproxy.onprem.backend.ai:8443/"
#proxyBaseURL = ""
proxyListenIP = "0.0.0.0"

[plugin]
#login = "test-plugin.js"
