[general]
#apiEndpoint =
#apiEndpointText =
#defaultSessionEnvironment =
siteDescription = "Console"
connectionMode = "SESSION" #connectionMode = API
allowChangeSigninMode = false # Allows user to change signin mode
allowSignout = true
signupSupport = false
allowAnonymousChangePassword = false
debug = false
allowProjectResourceMonitor = false
AllowBetaFeatures = false


[menu]
blocklist = "summary,statistics" # Separated by comma.

[wsproxy]
proxyURL = "https://wsproxy.onprem.backend.ai:9443/"
#proxyBaseURL = ""
autoPortSelection = true
disableCertCheck = true

[server]
consoleServerURL =

[plugin]
#login = "signup-cloud.js"
#sidebar = "report-cloud.js"
