[general]
#apiEndpoint = "[Default API Endpoint. If blank, user input field will be shown.]"
#apiEndpointText = "[Placeholder text instead of API endpoint input field.]"
#defaultSessionEnvironment = "[Default session kernel. If blank, alphabetically first kernel will be default.]"
#defaultImportEnvironment = "[Default kernel to use import features. If blank, index.docker.io/lablup/python:3.8-ubuntu18.04 will be used.]"
siteDescription = "Web UI"
connectionMode = "SESSION" #connectionMode = API
allowChangeSigninMode = false
signupSupport = false
allowSignout = false
allowAnonymousChangePassword = false
allowProjectResourceMonitor = true
allowManualImageNameForSession = false
allowSignupWithoutConfirmation = false
autoLogout = false
#loginAttemptLimit = 5
#loginBlockTime = 180
debug = false
maskUserInfo = false

[wsproxy]
proxyURL = "http://127.0.0.1:5050/"
#proxyURL = "https://wsproxy.onprem.backend.ai:9443/"
#proxyBaseURL = ""
#proxyListenIP = ""
autoPortSelection = true
disableCertCheck = true

[menu]
#blocklist = "summary,import,statistics" # Separated by comma.

[resources]
openPortToPublic = false # Show option to open app proxy port to anyone.
maxCPUCoresPerContainer = 256 # Maximum CPU per container.
maxMemoryPerContainer = 64 # Maximum memory per container.
maxCUDADevicesPerContainer = 8  # Maximum CUDA devices per container.
maxCUDASharesPerContainer = 8  # Maximum CUDA shares per container.
maxShmPerContainer = 4 # Maximum shared memory per container.
maxFileUploadSize = 4294967296 # Maximum size of single file upload. Set to -1 for unlimited upload.

[environments]
#allowlist = ""

[server]
webServerURL =

[plugin]
# Reserved to load plugins
#login = "signup-cloud.js"
#sidebar = "report-cloud.js"
#page = "test-plugin1,test-plugin2" # Separated by comma.

#[license]
#This field is generated by console-server.