body {
  font-family: 'Quicksand', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", AppleSDGothic, "Apple SD Gothic Neo", NanumGothic, "NanumGothicOTF", "Nanum Gothic", "Malgun Gothic", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  margin: 0;
  overflow-x: hidden;
  word-break: keep-all;
}

.etabs-tabgroup {
  height: 48px;
  width: 100%;
  /*width: calc(100% - 190px);
  border-left: 190px solid rgba(24, 24, 24, 1.0);*/
  border-bottom: 0;
  background-color: #cccccc;
  cursor: default;
  font: caption;
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-select: none !important;
  -webkit-app-region: drag !important;
}

.portrait-bar {
  display: inline-block;
  height: 48px;
  float: left;
  width: 110px;
  padding-left: 80px;
  background-color: rgba(24, 24, 24, 1.0);
  color: #efefef;
}

.site-name {
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  margin-top: 6px;
  line-height: 16px;
  font-size: 16px;
  font-weight: 100;
  color: #efefef;
  font-family: 'Quicksand', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", AppleSDGothic, "Apple SD Gothic Neo", NanumGothic, "NanumGothicOTF", "Nanum Gothic", "Malgun Gothic", sans-serif;
}

.site-name > .bold {
  font-weight: 400;
}

.site-description {
  font-size: 13px;
  text-align: left;
  font-family: 'Quicksand', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", AppleSDGothic, "Apple SD Gothic Neo", NanumGothic, "NanumGothicOTF", "Nanum Gothic", "Malgun Gothic", sans-serif;
}

.etabs-tabs {
  -webkit-user-select: none !important;
  -webkit-app-region: drag !important;
}

.etabs-tab {
  display: none;
  position: relative;
  color: #333333;
  height: 37px;
  padding: 10px 8px 0;
  border: 1px solid #aaaaaa;
  border-bottom: 0;
  border-left: 0;
  background: linear-gradient(to bottom, rgba(234, 234, 234, 1) 0%, rgba(204, 204, 204, 1) 100%);
  font-family: 'Quicksand', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", AppleSDGothic, "Apple SD Gothic Neo", NanumGothic, "NanumGothicOTF", "Nanum Gothic", "Malgun Gothic", sans-serif;
  font-size: 14px;
  background-color: #cccccc;
  cursor: default;
}

/* Dragula */
.etabs-tab.gu-mirror {
  padding-bottom: 0;
}

.etabs-tab:first-child {
  border-bottom: 0;
  border-left: none;
}

.etabs-tab.visible {
  display: inline-block;
  float: left;
}

.etabs-tab.active {
  background: #ffffff;
}

.etabs-tab.flash {
  background: linear-gradient(to bottom, rgba(255, 243, 170, 1) 0%, rgba(255, 227, 37, 1) 100%);
}

.etabs-buttons {
  float: left;
}

.etabs-buttons button {
  float: left;
  color: #333333;
  background: none;
  border: none;
  font-size: 12px;
  margin-top: 6px;
  border-radius: 2px;
  margin-left: 4px;
  width: 20px;
  text-align: center;
  padding: 4px 0;
}

.etabs-buttons button:hover {
  color: #eeeeee;
  background-color: #aaaaaa;
}

.etabs-tab-badge {
  position: absolute;
  right: 0;
  top: -7px;
  background: red;
  border-radius: 100%;
  text-align: center;
  font-size: 10px;
  padding: 0 5px;
}

.etabs-tab-badge.hidden {
  display: none;
}

.etabs-tab-icon {
  display: inline-block;
  height: 16px;
}

.etabs-tab-icon img {
  max-width: 16px;
  max-height: 16px;
}

.etabs-tab-title {
  display: inline-block;
  margin-left: 10px;
}

.etabs-tab-buttons {
  display: inline-block;
  margin-left: 10px;
}

.etabs-tab-buttons button {
  display: inline-block;
  color: #333333;
  background: none;
  border: none;
  width: 20px;
  text-align: center;
  border-radius: 2px;
}

.etabs-tab-buttons button:hover {
  color: #eeeeee;
  background-color: #aaaaaa;
}

.etabs-views {
  border-top: 0;
  height: calc(100vh - 48px);
}

.etab-view {

}
