/* This example changes sidebar to blue gray tone */
backend-ai-webui {
    --sidebar-background-color: #344C5A;
    --sidebar-color: #EFEFEF;
    --sidebar-topbar-background-color: #344C5A;
    --sidebar-topbar-color: #EFEFEF;
}
