div > div.ant-modal-wrap.draggable.ant-modal-centered {
  overflow: hidden;
}

.ant-modal.bai-modal .ant-modal-content > button.ant-modal-close {
  width: var(--general-modal-header-width, 26px);
  height: var(--general-modal-header-height, 26px);
  top: 22px;
  -webkit-app-region: no-drag;
}
