.ant-modal.bai-modal .ant-modal-content {
  padding: var(--general-modal-content-padding, 0);
}
.ant-modal.bai-modal .ant-modal-body {
  padding: var(--general-modal-body-padding, 0 24px);
}

.ant-modal.bai-modal .ant-modal-footer {
  padding: var(--general-modal-footer-padding, 0 20px 24px 20px);
}

.ant-modal.bai-modal .ant-modal-title {
  width: 100%;
}

.ant-modal.bai-modal .ant-modal-header {
  border-bottom: 1px solid rgb(221, 221, 221);
  border-width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.ant-modal.bai-modal .ant-modal-content > button.ant-modal-close {
  padding: var(--general-modal-header-padding, 10px 20px);
  height: var(--general-modal-header-height, 69px);
}

.ant-modal.bai-modal .ant-modal-content > button.ant-modal-close {
  /* center */
  top: 0;
}
