/* Change the image and tags of the select option when the selection is opened  */
div.image-environment-select-form-item
  div.ant-select-open
  span.ant-select-selection-item
  div
  img,
div.image-environment-select-form-item
  div.ant-select-open
  span.ant-select-selection-item
  div
  span.ant-tag {
  opacity: 0.5;
}

div.image-environment-select-form-item
  div.ant-select-item-option-content
  div.tag-wrap-light {
  /* flex: 1 !important; */
  flex-wrap: wrap !important;
}

div.image-environment-select-form-item
  div.ant-select-item-option-content
  div.tag-wrap-dark {
  /* flex: 1 !important; */
  flex-wrap: wrap !important;
}

div.image-environment-select-form-item
  span.ant-select-selection-item
  div.tag-wrap-light {
  overflow: hidden;
}

div.image-environment-select-form-item
  span.ant-select-selection-item
  div.tag-wrap-dark {
  overflow: hidden;
}

div.image-environment-select-form-item
  span.ant-select-selection-item
  div.tag-wrap-light::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px; /* Width of the transparent gradient area */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

div.image-environment-select-form-item
  span.ant-select-selection-item
  div.tag-wrap-dark::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  background: linear-gradient(
    to right,
    rgba(20, 20, 20, 0),
    rgba(20, 20, 20, 1)
  );
}
